/* style.css */

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    padding: 20px;
}

button {
    margin-bottom: 10px;
    background-color: #808080; /* Use a gray color */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.folder-button {
    margin-bottom: 10px;
    background-color: #5DADE2; /* Use a gray color */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.file-button {
    margin-bottom: 10px;
    background-color: #34495E; /* Use a gray color */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.breadcrumb-button {
    margin-bottom: 10px;
    background-color: #F4F6F6; /* Use a gray color */
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #696969; /* Darker shade on hover */
}

#breadcrumbs {
    margin-bottom: 10px;
}

hr {
    border: 0.5px solid #ddd;
}

h2 {
    color: #333;
}

/* Add this to your existing style.css or create a new CSS file */
.context-menu {
    display: inline-block; /* Adjusted to inline-block */
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.context-menu-item {
    cursor: pointer;
    padding: 1px 10px;
    margin-bottom: 1px;
    border: none;
    background-color: #696969;
    color: white;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    border-radius: 3px;
}

.context-menu-item:hover {
    background-color: #696969;
}
